@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #222831;
}


/*NAVBAR*/

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#nav-ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#nav-ul li a:hover {
    background-color: #555;
    color: white;
}

.wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.card {
    max-width: 316px;
    min-height: 500px;
    border-radius: 15px;
    padding: 1.5rem;
    background: #00ADB5;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin: 2vh;
}

.card:hover {
    transform: translateY(20px);
}

.card:hover img {
    filter: blur(6px);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.card .info h1 {
    margin: 0px;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #00ADB5;
    color: #EEEEEE;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.card .info button:hover {
    background: #393E46;
    color: #EEEEEE;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #000000;
}

li a {
    display: block;
    color: rgb(253, 249, 249);
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #ff002ba6;
    color: white;
}

li a:hover:not(.active) {
    background-image: url("thumb-1920-316615.jpg");
    color: rgb(20, 2, 2);
}

.content-container {
    margin-top: 2%;
    margin-right: 25%;
    margin-left: 25%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 2%;
}

header h1 {
    font-family: 'Pacifico', cursive;
    color: #EEEEEE;
    margin-left: 40px;
}

header {
    margin: -7px;
    margin-top: -20px;
    background-color: #393E46;
    padding-top: 10px;
    padding-bottom: 30px;
}

.aside-container {
    background-color: #393E46;
    min-height: 178%;
    float: right;
    min-width: 25%;
    position: absolute;
    margin-left: 75.4%;
    top: 120px;
}

footer {
    background-color: #393E46;
    min-height: 10%;
}

.container .icon {
    width: 200px;
}

.container .icon path {
    fill: transparent;
    stroke-width: 10;
    stroke: #31e8ff;
}

.container .icon.insta path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.container .icon.heart:hover path {
    animation: animate-heart 2s linear forwards;
}

@keyframes animate-heart {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1560;
    }
    80% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3120;
        fill: #31e8ff;
    }
}

.container .icon.crown path {
    stroke-dasharray: 1560;
    stroke-dashoffset: 0;
}

.container .icon.crown:hover path {
    animation: animate-crown 3s linear forwards;
}

@keyframes animate-crown {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1560;
    }
    80% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3120;
        fill: #31e8ff;
    }
}